*{
    font-family: 'ARABOLIC','Helvetica','Arial','Lucida','sans-serif';
}
.the-line{
    background-color: aquamarine;
}
.actived{
    color: #c18749 !important;
}
.discover_btn{
    border: #f8dfa1 solid 1px ;

}
.discover_cover{
    background-image: url("../../public/images/img3.jpg");
    width: 100% !important;
    height: 955px;
}
.contact--us{
    background-image: url('../../public/images/img1.jpg');
    /* width: 100% !important; */
    height: 950px;
}
.experiences-cursal{
    background-image: url('../../public/images/img13.jpg');
    background-repeat: no-repeat;
    background-size:contain;
}
.experience--title{
    text-shadow: 2px 2px #181a1d;
}
.experience-page--{
    background-image:url('../../public/images/img15.jpg') ;
    background-repeat: no-repeat;
    background-size:contain;
}